<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden" style="height:100vh">
  <style>
    .background-radial-gradient {
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%);
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
  </style>

  <div class="container px-4 py-5 px-md-9 text-center text-lg-start my-6 h-auto mt-9" style="margin-top:100px">
    <div class="row gx-lg-5 align-items-center mb-9">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
         <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          A better online  <br />
          <span style="color: hsl(218, 81%, 75%)">to-do list app for work</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
         Asana makes it easier for a team to plan their work by using online to-do lists.
         Say goodbye to handwritten to-do lists with missing details, and say hello to
          having all the information you need to get your tasks done.
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
          <div class="d-flex ml-6">
           <a routerLink='/login'> <i class="fa fa-arrow-left" style="font-size:38px;color:black"></i></a>
           <h2 class="fw-bold mb-2 text-uppercase px-4">Forget Password</h2>
              
          </div>
        
              
            <form #form='ngForm'>

              <!-- Email input -->
              <div data-mdb-input-init class="form-outline mb-4">
               <label class="form-label" for="form3Example3">Enter Email address</label>
                <input type="email"  #eMail="ngModel" name="email" id="form3Example3" [(ngModel)]="studentObj.email" class="form-control"  required/>
               
                <div class="text-danger">
                 @if((eMail.touched|| eMail.dirty) && eMail.errors?.['required']){
                       <span> This is Required</span>
                 }
                </div>

                 <div data-mdb-input-init class="form-outline mb-4">
               <label class="form-label" for="form3Example4">Enter Verification Code</label>
                <input type="password"  #passWord="ngModel" name="password" id="form3Example4" [(ngModel)]="studentObj.password" class="form-control"  required  minlength="6"/>
               <div class="text-danger">
                 @if((passWord.touched || passWord.dirty) && passWord.errors?.['required']){
                       <span> This is Required</span>
                 }
                 @else if(passWord.errors?.['minlength']){
                   <span> MIn 6 Char Required</span>
                 }
                </div>
              </div>
              </div>

              

          

              <!-- Submit button -->
              <div class="text-center text-lg-start mt-4 pt-2 d-flex justify-content-between">
            <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" >Send code</button>
            
          </div>
              
              <!-- Register buttons -->
               <div class="text-center text-lg-start mt-4 pt-2 d-flex justify-content-between">
            <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" [disabled]='form.invalid' (click)="onSubmit()">Submit</button>
            
          </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->